[Desktop Entry]
Type=Application
Name=Game Mover
Comment=Sprava sdilene herni knihovny
Exec=/usr/bin/python3 -B /opt/game_mover/game_mover.py
Icon=/opt/game_mover/game_mover_logo.jpg
Terminal=false
Categories=Game;Utility;
